<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoutubeSearch</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header py-1">
        <div class="container">
            <div class="row space-between align-center">
                <div class="logo">
                    <a href="#">YoutubeSearch</a>
                </div>
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-1">Sign Up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="container pt-3">
        {% block content %} {% endblock content %}
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>