{% extends 'base.html' %} {% block content %}
<div class="search-section">
    <h1 class="pb-2">SEARCH</h1>
    <div class="row space-between">
        <div class="left">
            <div class="seach-features">
                <div class="search-item mb-2">
                    <div class="icon">
                        <i class="ti-location-pin"></i>
                    </div>
                    <div class="info">
                        <h3>Video Name</h3>
                        <p>Enter a video name like american rappers</p>
                    </div>
                </div>
                <div class="search-item mb-2">
                    <div class="icon">
                        <i class="ti-email"></i>
                    </div>
                    <div class="info">
                        <h3>Location</h3>
                        <p>Enter a city like Chicago</p>
                    </div>
                </div>
                <div class="search-item">
                    <div class="icon">
                        <i class="ti-mobile"></i>
                    </div>
                    <div class="info">
                        <h3>Subscribers</h3>
                        <p>Choose a subscribers range</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="form-container">
                <div class="form-control">
                    <input type="text" placeholder="Enter Video Name" id="video-input" class="form-input">
                </div>
                <div class="form-control">
                    <input type="text" placeholder="Enter Location" id="location-input" class="form-input">
                </div>
                <div class="form-control">
                    <p>Subscribers</p>
                    <div class="values">
                        <span id="range-1">0</span>
                        <span>&dash;</span>
                        <span id="range-2">100</span>
                    </div>
                    <div class="range-slider">
                        <div class="slider-track"></div>
                        <input type="range" min="0" max="100000" id="slider-1" value="30000" oninput="slideOne()">
                        <input type="range" min="0" max="100000" id="slider-2" value="70000" oninput="slideTwo()">
                    </div>
                </div>
                <div class="form-control">
                    <button type="submit" id="submit-btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}